<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        nav
            .title tiny-twitter-clone
        .content
            p yes, it is.
            p count #{count}
        script(src="/js/login.js")
        button(onclick="login()") try a login
        button(onclick="get()") click me