body{
    color: #14171a;
    background-color: #e6ecf0;
    font-size: 14px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

fieldset{
    margin: 0;
    border: 0;
}

input{
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    padding: 5px;
    margin: 4px;
}

input::placeholder, textarea::placeholder {
    color: #657786;
    opacity: 1;
}

#page-container{
    text-align: center;
}

.page-canvas{
    padding: 20px;
    background-color: white;
    max-width: 500px;
    margin: 50px auto;
    border: 1px solid rgba(0,0,0,0.1);
}

.EdgeButton {
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 16px;
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
}