body{
    color: #14171a;
    background-color:rgb(18, 26, 36);
    font-size: 14px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1{
    color: white;
}

fieldset{
    margin: 0;
    border: 0;
}

input{
    color: white;
    background-color: rgb(18, 26, 36);
    border: 1px solid #38444d;
    border-radius: 3px;
    padding: 5px;
    margin: 4px;
}

input::placeholder, textarea::placeholder {
    color: #8899a6;
    opacity: 1;
}

#page-container{
    text-align: center;
}

.page-canvas{
    padding: 20px;
    background-color: white;
    max-width: 500px;
    margin: 50px auto;
    background-color: #15202b;
    border: 1px solid rgba(0,0,0,0.1);
}

.EdgeButton {
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 16px;
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
}

p.signup-helper{
    color: #8899a6;
}

a#login-signup-link{
    margin-left: 5px;
    color: rgb(29, 161, 242);
}