<!DOCTYPE html>
html(lang="en")
    head
        meta(charset='utf-8')
        title TinyTwitterClient
        base(href='/')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='icon' type='image/x-icon' href='favicon.ico')
        link(rel='stylesheet' href='css/styles.66a4d4e58830271169b4.css')
    body
        app-root
        script(src='js/runtime-es2015.e8a2810b3b08d6a1b6aa.js' type='module')
        script(src='js/runtime-es5.e8a2810b3b08d6a1b6aa.js' nomodule='' defer='')
        script(src='js/polyfills-es5.eb0933712c9060b09d2c.js' nomodule='' defer='')
        script(src='js/polyfills-es2015.0803a1577a5b03b7f2bc.js' type='module')
        script(src='js/main-es2015.6d5288f6fae27e1c61f2.js' type='module')
        script(src='js/main-es5.6d5288f6fae27e1c61f2.js' nomodule='' defer='')