<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible" content="ie=edge")
      link(rel="stylesheet", href="css/login.css")
      title Document
   body
      #page-container.AppContent.wrapper.wrapper-login
         .page-canvas
            .signin-wrapper
            h1 Log in to Twitter
            form(action='/auth/login' method='post')
               input(type="hidden" name="_csrf" value=csrfToken)
               fieldset
                  .clearfix.field
                     input(type='text' name='username' autocomplete='on' value='' placeholder='Phone, email or username')
                  .clearfix.field
                     input.js-password-field(type='password' name='password' placeholder='Password')

               fieldset
                  button(type='submit').EdgeButton Log in
               
            p.signup-helper
               | New to Twitter?
               a#login-signup-link(href='/signup') Sign up now »

